body{
    font-family: 'Poppins', sans-serif;
}
 p{
    font-size: 40px;
    font-weight: 600;
}
.money{
    width: 100%;
    height: 100%;
}
.income{
    font-size: 2.5rem;
    font-weight: medium;
}

.total-expenses p,.costing{
    font-size: 2.5rem;
    font-weight: medium;
}
.total-balance p,.balance{
    font-size: 2.5rem;
    font-weight: medium;
}
.Reamaining p, .R-amount{
    font-size: 2.5rem;
    font-weight: medium;
}
.saving p, .S-amount{
    font-size: 2.5rem;
    font-weight: medium;
}
.saving{
    margin-top: 20px 0;
}